@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --clr-prm: #55c57a;
  --clr-prm-light: #7ed56f;
  --clr-prm-dark: #28b485;
  --clr-grey-dark: #777;
  --clr-white: #fff;
  --clr-grey-light-1: #f7f7f7;
  --rgb-prm-light: 126, 213, 111;
  --rgb-prm-dark: 40, 180, 133;
  --rgb-black: 0, 0, 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: var(--clr-grey-dark);
  padding: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  color: var(--clr-white);
  background-color: var(--clr-prm);
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(var(--rgb-prm-light), 0.8), rgba(var(--rgb-prm-dark), 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  display: grid;
  grid-template-rows: min-content min-content;
}
.header__logo-box {
  padding: 3rem;
  align-self: start;
  justify-self: start;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  text-align: center;
  display: grid;
  grid-row-gap: 3rem;
  margin-top: 15rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s ease-out;
  font-size: 1.6rem;
  position: relative;
  width: max-content;
  justify-self: center;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(var(--rgb-black), 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(var(--rgb-black), 0.2);
}
.btn--white {
  background-color: var(--clr-white);
  color: var(--clr-grey-dark);
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white::after {
  background-color: var(--clr-white);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.heading-primary {
  color: var(--clr-white);
  text-transform: uppercase;
  display: grid;
  justify-items: center;
  text-align: center;
}
.heading-primary--main {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  display: grid;
  justify-items: center;
  text-align: center;
  animation: moveInLeft 1s ease-out;
}
.heading-primary--sub {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}

.heading-sec {
  justify-self: inherit;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--clr-prm-light), var(--clr-prm-dark));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-out;
}
.heading-sec:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(var(--rgb-black), 0.2);
}

.about {
  background-color: var(--clr-grey-light);
  padding: 25rem 0;
  margin-top: -20vh;
  display: grid;
  grid-template-areas: "heading heading" "about-text about-imgs";
}
.about__heading-wrapper {
  grid-area: heading;
  justify-self: center;
}

.left {
  grid-area: about-text;
  background-color: tomato;
}

.right {
  grid-area: about-imgs;
  background-color: green;
}

/*# sourceMappingURL=style.css.map */
