.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s ease-out;
    font-size: var(--fz-default);
    position: relative;

    // change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(var(--rgb-black), 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(var(--rgb-black), 0.2);
  }

  &--white {
    background-color: var(--clr-white);
    color: var(--clr-grey-dark);
  }

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white::after {
    background-color: var(--clr-white);
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--green {
    background-color: var(--clr-prm);
    color: var(--clr-white);
  }

  &--green::after {
    background-color: var(--clr-prm);
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: var(--fz-default);
    color: var(--clr-prm);
    border-bottom: 1px solid var(--clr-prm);
    padding: 3px;
    transition: all 0.3s ease-out;
  }

  &:hover {
    background-color: var(--clr-prm);
    color: var(--clr-white);
    box-shadow: 0 1rem 2rem rgba(var(--rgb-black), 0.15);
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(var(--rgb-black), 0.15);
    transform: translateY(0);
  }
}
