@use './../abstract/mixins' as *;

.card-flip {
  perspective: 150rem;
  position: relative;
  height: 52rem;
  flex: 0 1 350px;
  margin: 2rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(var(--rgb-black), 0.15);
    overflow: hidden;
  }

  &__front {
    background-color: var(--clr-white);
    transition: all 0.8s;
    display: grid;
    grid-template-rows: 45% 1fr;
  }

  &__back {
    background-image: linear-gradient(
      to right bottom,
      var(--clr-sec-light),
      var(--clr-sec-dark)
    );
    transition: all 0.8s;
    transform: rotateY(180deg);

    display: grid;
    place-content: center;
    place-items: center;

    &-price-box {
      margin-bottom: 5rem;
      display: grid;
      justify-items: center;
      color: var(--clr-white);
    }

    &-txt {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &-price {
      font-size: 6rem;
      font-weight: 100;
    }
  }

  &:hover &__front {
    transform: rotateY(-180deg);
  }

  &:hover &__back {
    transform: rotateY(0);
  }

  &__header {
    position: relative;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: var(--clr-white);
  }

  &__list {
    font-size: 1.5rem;
    display: grid;
    grid-auto-rows: min-content;
    place-content: center;
    padding: 2rem;
    text-align: center;

    & > li {
      padding: 1rem;
    }

    & > li:not(:last-child) {
      border-bottom: 1px solid var(--clr-grey-light-2);
    }
  }

  &__bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          var(--clr-sec-light),
          var(--clr-sec-dark)
        ),
        url('../img/nat-5.jpg');
    }

    &--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
        url('../img/nat-6.jpg');
    }

    &--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
        url('../img/nat-7.jpg');
    }
  }

  &__title {
    position: absolute;
    right: 2.2rem;
    bottom: 2rem;
    width: 75%;

    &--layout {
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      padding: 1rem 1.5rem;
    }
  }

  &--bg1 {
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 185, 0),
      rgba(255, 119, 48)
    );
  }

  &--bg2 {
    background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111),
      rgba(40, 180, 133)
    );
  }

  &--bg3 {
    background-image: linear-gradient(
      to right bottom,
      rgba(41, 152, 255),
      rgba(86, 67, 250)
    );
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: 85rem;
    flex: 0 1 350px;
    margin: 2rem;
    display: grid;
    grid-template-rows: auto auto;
    background-color: var(--clr-white);

    &__side {
      position: relative;
      box-shadow: none;
    }

    &__back {
      transform: rotateY(0);
      clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
    }

    &:hover &__front {
      transform: rotateY(0deg);
    }

    &:hover &__back {
      transform: rotateY(0);
    }
  }
}
