@use './../abstract/mixins' as *;

.heading-primary {
  color: var(--clr-white);
  text-transform: uppercase;
  display: grid;
  justify-items: center;
  text-align: center;

  &--main {
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    display: grid;
    justify-items: center;
    text-align: center;
    animation: moveInLeft 1s ease-out;

    @include mq(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    font-size: var(--fz-default);
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @include mq(phone) {
      letter-spacing: 0.5rem;
    }
  }
}
